* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  font-family: 'Roboto';
  background-color: #fff;
}
  
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  align-content: stretch;
  row-gap: 5%;
  column-gap: 5%;
}

#heading{
    text-align: center;
    background-color: #F2F4F3;
    border-radius: 100%;
    margin-top: 3%;
}

.movieCards{
    display: flex;
    justify-content: center;
    font-family: inherit;
    row-gap: 5%;
}
.movieCards #card .movieImage{
    display: flex;
    justify-content: center;
    
}
 .caption{
    text-align: center;

}
.heading h3 p{
    font-family: inherit;
    font-size: 16sp;
}

img {
  opacity: 0.7;
}

img:hover {
  opacity: 1.0;
}

/* Menu */
.menu-wrap {
  position: fixed;
  right: 0;
  z-index: 1001;
  width: 300px;
  height: 40%;
  padding: 40px;
  background-color: #747572;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all 0.5s cubic-bezier(0.7,0,0.3,1);
  transform: translate3d(360px,0,0);
}
.menu-wrap.active {
  transform: translate3d(0px,0,0);
}

.menu-wrap .menu .icon-list a {
  position: relative;
  font-family: "Roboto," sans-serif;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #eee;
  font-size: 20px;
  transition: all 0.3s ease;
}
.menu-wrap .menu .icon-list a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  top: 80%;
  transition: all 0.3s ease;
}
.menu-wrap .menu .icon-list a:hover {
  color: #FFCF00;
}
.menu-wrap .menu .icon-list a:hover::before {
  width: 50%;
  background-color: #FFCF00;
}

/* Buttons */
.menu-button, 
.close-button {
  position: fixed;
  top: 50px;
  width: 50px;
  height: 50px;
  background-color: #F2F4F3;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.menu-button {
  right: 0px;
  z-index: 102;
}
.close-button {
  left: -50px;
  z-index: 100;
}


.button-17 {
  appearance: none;
  background-color: #fff;
  border-radius: 26px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  fill: currentcolor;
  font-family: "Roboto",sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  font-family: inherit;
  }
  
  .button-17:hover {
    background: #f2f4f3ff;
    color: #ffcf00ff;
  }
  
  .button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .button-17:focus {
    outline: none;
    border: 2px solid #ffcf00ff;
  }
  
  .button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  @media (min-width: 768px) {
    .button-52 {
      padding: 8px 50px 13px;
    }
  }

  .moreDetails{
    display: flex;
    justify-content: center;
    font-family: inherit;
  }

  .countries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 4%;
  }

  @media (min-width: 500px) {

    body {
      background-image: url("images/plaintape.png");
      background-size:  contain;
      background-position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      }

  }

  @media (max-width: 500px) {

    body {
      /* background-image: url("images/movietape-mobile.png"); */
      padding: 0 2% 0 2%;
      }
  
  }
