* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.6;
    font-family: 'Roboto';
    background-color: #fff;
    background-image: url("images/movietape.png");
    background-position: left bottom; 
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 300px;
    height: auto;
}

p {
    color: #0a0908ff;
}

.full-height {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-content: stretch;
    row-gap: 10px;
    column-gap: 5%;
}

.header-wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
}

.logo-wrap {
    align-self: center;
    padding: 1% 0 1% 0;
}

.site-description-wrap {
    align-items: stretch;
    flex: 1;
}

.textarea {
    display:flex;
    justify-content: center;
    align-self: center;
}

.description {
    max-width: 700px;
    padding: 0 1rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 7;
}

.form {
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-self: stretch;
    flex: none;
    flex: 5;
}

.title-wrap {
    display: flex;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    flex:1;
}

.country-wrap {
    display: flex;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.checkbox-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #0a0908ff;
    font-family: inherit;
    font-size: 16px;
}


.search-button {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex: 2;
    color: #0a0908ff;
}

/* text input */
.inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 400px;
    border-radius: 6px;
    overflow: hidden;
}

.label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(#747572ff,.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0,0,0);
    transition: all .2s ease;
    pointer-events: none;
}

.focus- {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#747572ff,.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}

input[type="text"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.5;
    border-bottom-color: #747572ff;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(#747572ff,.02);
    box-shadow: inset 0 -1px 0 rgba(#747572ff,0.3);
    color: #747572ff;
    transition: all .15s ease;
}

input[type="text"]:hover {
    background: rgba(#747572ff,.04);
    box-shadow: inset 0 -1px 0 rgba(#747572ff,.5);
}

input[type="text"]:not(:placeholder-shown)
    + .label {
    color: rgba(#747572ff,.5);
    transform: translate3d(0,-12px,0) scale(.75);
}

input[type="text"]:focus {
    background: rgba(#747572ff,.05);
    outline: none;
    box-shadow: inset 0 -2px 0 #0a0908ff; }
input[type="text"]:focus +.label {
    color: #0a0908ff;
    transform: translate3d(0,-12px,0) scale(.75); }
input[type="text"]:focus +.focus-bg {
    transform: scaleX(1);
    transition: all .1s ease;
}

/* location checkbox */
.local-check {
    position: relative;
    list-style: none;
    text-align: center;
    margin: 3px;
    font-size: 14px;
    font-family: inherit;
  }
      
  .local-check label {
    position: relative; 
    cursor: pointer;
  }
  
  .local-check label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
        
  .local-check label :checked ~ .icon-box {
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
      inset 3px 3px 5px rgba(0, 0, 0, 0.1);}
  
  .local-check label .fa {
    transform: scale(0.95);
  }
        
  .local-check .icon-box {
    width: 200px;
    height: 35px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
      3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px; 
  }
          
  .local-check .icon-box .fa {
    font-size: 25px;
    color: #0a0908ff;
  }

  /* menu */
  
.menu-wrap {
    position: fixed;
    right: 0;
    z-index: 1001;
    width: 300px;
    height: 40%;
    padding: 40px;
    background-color: #747572;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: all 0.5s cubic-bezier(0.7,0,0.3,1);
    transform: translate3d(360px,0,0);
  }
  .menu-wrap.active {
    transform: translate3d(0px,0,0);
  }
  
  .menu-wrap .menu .icon-list a {
    position: relative;
    font-family: inherit;
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #eee;
    font-size: 20px;
    transition: all 0.3s ease;
  }
  .menu-wrap .menu .icon-list a::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    top: 80%;
    transition: all 0.3s ease;
  }
  .menu-wrap .menu .icon-list a:hover {
    color: #FFCF00;
  }
  .menu-wrap .menu .icon-list a:hover::before {
    width: 50%;
    background-color: #FFCF00;
  }
  /* Buttons */
  .menu-button, 
  .close-button {
    position: fixed;
    top: 50px;
    width: 50px;
    height: 50px;
    background-color: #F2F4F3;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }
  .menu-button {
    right: 0px;
    z-index: 102;
  }
  .close-button {
    left: -50px;
    z-index: 100;
  }

  /* button */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #F2F4F3;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #0a0908ff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #ffcf00ff;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #ffcf00ff;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

@media (max-width: 500px) {

  body {
    background-image: url("images/movietape-mobile.png");
   }

  .hidden {
    display: none;
  }
}
