* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.6;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

img {
    max-width: 300px;
    height: auto;
}

p {
    color: #0a0908ff;
}

.full-height {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-content: stretch;
    row-gap: 10px;
    column-gap: 5%;
}

.header-wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
}

.logo-wrap {
    align-self: center;
    padding: 1% 0 1% 0;
}

.site-description-wrap {
    align-items: stretch;
    flex: 1;
}

.textarea {
    display:flex;
    justify-content: center;
    align-self: center;
}

.description {
    max-width: 700px;
    padding: 0 1rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 7;
}

.form {
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-self: stretch;
    flex: none;
    flex: 5;
}

.title-wrap {
    display: flex;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    flex:1;
}

.country-wrap {
    display: flex;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.checkbox-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #0a0908ff;
    font-family: inherit;
    font-size: 16px;
}


.form-button {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex: 4;
    color: #0a0908ff;
}

/* text input */
.inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 400px;
    border-radius: 6px;
    overflow: hidden;
}

.label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(#747572ff,.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0,0,0);
    transition: all .2s ease;
    pointer-events: none;
}

.focus- {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#747572ff,.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}

input[type="text"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.5;
    border-bottom-color: #747572ff;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(#747572ff,.02);
    box-shadow: inset 0 -1px 0 rgba(#747572ff,0.3);
    color: #747572ff;
    transition: all .15s ease;
}

input[type="text"]:hover {
    background: rgba(#747572ff,.04);
    box-shadow: inset 0 -1px 0 rgba(#747572ff,.5);
}

input[type="text"]:not(:placeholder-shown)
    + .label {
    color: rgba(#747572ff,.5);
    transform: translate3d(0,-12px,0) scale(.75);
}

input[type="text"]:focus {
    background: rgba(#747572ff,.05);
    outline: none;
    box-shadow: inset 0 -2px 0 #0a0908ff; }
input[type="text"]:focus +.label {
    color: #0a0908ff;
    transform: translate3d(0,-12px,0) scale(.75); }
input[type="text"]:focus +.focus-bg {
    transform: scaleX(1);
    transition: all .1s ease;
}

/* location checkbox */
.local-check {
    position: relative;
    list-style: none;
    text-align: center;
    margin: 3px;
    font-size: 14px;
    font-family: inherit;
  }
      
  .local-check label {
    position: relative; 
    cursor: pointer;
  }
  
  .local-check label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
        
  .local-check label :checked ~ .icon-box {
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
      inset 3px 3px 5px rgba(0, 0, 0, 0.1);}
  
  .local-check label .fa {
    transform: scale(0.95);
  }
        
  .local-check .icon-box {
    width: 200px;
    height: 35px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
      3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 7px; 
  }
          
  .local-check .icon-box .fa {
    font-size: 25px;
    color: #0a0908ff;
  }