* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: red;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

img {
    width: 100%
}

p {
    padding: 0 1rem;
    text-align: center;
}

.header-wrap {
    display: flex;
    justify-content: center;

}

.logo-wrap {
    align-self: center;
}

.form-wrap {
    display: flex;
}

.title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-button {
    align-self: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}